.footer {
    position: relative;
    width: 100%;
    background: var( --background-secondary);
    min-height: 10rem;
    padding: 2rem 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;;
}

.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 1rem .5rem;
    flex-wrap: wrap;
}

.icon-element {
    list-style: none;
}

.icon {
    color:var( --accent-green);
    font-size: 32px;
    display: inline-block;
    margin: 0 1rem;
    transition: 0.5s;
}

.icon:hover {
    transform: translateY(-10px);
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 1rem 0;
    flex-wrap: wrap;
}

.menu-element {
    list-style: none;
}
.menu-icon {
    color: var(--color-texto);
    font-size: 2rem;
    display: inline-block;
    text-decoration: none;
    margin: 0 1rem;
    opacity: .5;
    transition: 0.5s;

}

.menu-icon:hover {
    opacity: 1;
    

}

.text {
    color: var(--accent-warm);
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}