/* .nav {
    position: fixed;
    background-color: var( --navbar-background);
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
}

.nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    transition: all 0.3s ease-in-out;
}

.nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

.nav a {
    text-decoration: none;
    color: var(--navbar-texto);
    padding: .7rem 1.5rem;
    transition: all 0.3s ease-in-out;
}

.nav li a {
    font-size: 2rem;
}

.nav .logo {
    font-size: 4rem;
}

.nav.active {
    backdrop-filter: blur(10px);
    background-color: var(--navbar-background-blur);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.nav.active a {
    color: var(--navbar-active-texto);

}

.nav.active .container {
    padding: 1rem 0;
}

.nav a.current, .nav a:hover {
    color: var( --navbar-active-hover);
    text-shadow: 0 0 1px currentColor;
} */

.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var( --navbar-background);
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    align-items: center;
    min-height: 5rem;
}

.nav h1 {
    font-size: 5rem;
    color: var(--navbar-texto)
}

.nav ul:not(.sidebar) {
    display: flex;
    list-style: none;
    align-items: center;
}

.nav li {
    height: 6rem;
    display: flex;
    align-items: center;
}

.nav a {
    height: 80%;
    display: flex;
    text-decoration: none;
    align-items: center;
    padding: 1rem 3rem;
    font-size: 2rem;
    font-weight: bold;
    color: var(--navbar-texto);
    border-radius: .5rem;
    transition: all 0.3s ease-in-out;
}

.nav a:hover {
    color: var( --navbar-active-hover);
    text-shadow: 0 0 1px currentColor;
}