.sidebar {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: var( --navbar-background);
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.sidebar.active {
    display: flex;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.burger-icon {
    margin: 0 5px;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    
}

.close-icon {
    margin: 1.5rem 2.5rem;
    cursor: pointer;
    align-self: flex-start;
}

.burger-icon {
    display: none;
}